# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
packages/*/node_modules/*
/.pnp
.pnp.js

# testing
packages/*//coverage

# next.js
packages/app/.next/
/out/

# production
packages/app/build
packages/cli/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

tables_31337.json
.react-email
