@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 25% 9%;
    --foreground: 169 59% 94%;

    --card: 184 24% 13%;
    --card-foreground: 180 51% 80%;

    --popover: 120 5% 21%;
    --popover-foreground: 165 40% 98%;

    --primary: 0 0% 0%;
    --primary-foreground: 169 59% 94%;

    --secondary: 120 2% 42%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 5% 21%;
    --muted-foreground: 120 2% 61%;

    --accent: 180 8% 24%;
    --accent-foreground: 348 24% 92%;

    --destructive: 4 75% 68%;
    --destructive-foreground: 0 0% 100%;

    --border: 180 8% 19%;
    --input: 180 8% 29%;
    --ring: 0 0% 100%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
