@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 22% 13%;
    --foreground: 256 57% 91%;

    --card: 257 22% 16%;
    --card-foreground: 256 57% 91%;

    --popover: 0 0% 9%;
    --popover-foreground: 256 57% 91%;

    --primary: 245 65% 60%;
    --primary-foreground: 256 57% 91%;

    --secondary: 245 24% 33%;
    --secondary-foreground: 300 4% 90%;

    --muted: 0 0% 15%;
    --muted-foreground: 300 2% 76%;

    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 100% 60%;
    --destructive-foreground: 0 86% 97%;

    --border: 312 8% 36%;
    --input: 312 8% 36%;
    --ring: 245 65% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
