.schema-builder {
  th {
    padding: 0px 10px;
    line-height: 1.1rem;
  }
  td {
    text-align: center;
  }
  .button-group {
    margin-top: 6px;
    button {
      margin-right: 6px;
    }
  }
}
